.grocery-container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: green;
}

table {
  margin: auto;
  border-collapse: collapse;
  border: 1px solid gray;
}

th, td {
  border: 1px solid gray;
  padding: 10px 20px;
  color: #2f8f2f;
}

th {
  background-color: #d9f2d9;
}
